body{
    display:flex;
    justify-content: center;
    background-color: #353b48;
    font-family:'Pacifico', cursive;
    min-height: 110%;
}
#glass{
    width:10vh;
    height:10vh;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:47%;
}
#glass path{
    fill: transparent;
    stroke-width: 1;
    stroke:#4cd137;
    stroke-dasharray:1170 ;
    stroke-dashoffset:1170;
    animation:animateGl 4s infinite;
}
@keyframes animateGl {
    0%{
        stroke-dashoffset: 0;
    }
    20%{
        stroke-dashoffset: 150;
    }
    40%{
        stroke-dashoffset:300 ;
    }
    65%{
        stroke-dashoffset:450 ;
    }
    80%{
        stroke-dashoffset: 600;
    }
    100%{
        stroke-dashoffset: 1170;
        fill:#4cd137;
        /* transform: rotate(360deg); */
    }
}

#wholeClock h2{
    color:white;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 0.1vw;
}
#wholeClock #time{
    position: absolute;
    top:20%;
    left:28%;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-reflect: below 2vh linear-gradient(transparent,#000000);

}
#wholeClock #time div{
    position: relative;
    margin: 0 2vw;
}
#wholeClock #time div span{
    
    display: block;
    width:20vh;
    height:20vh;
    border: 1.5px solid #4cd137;
   

    font-size: 3vh;
    color:white;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

#wholeClock #time div span:nth-child(1){
    border-top-right-radius: 30%;
    animation: animate 3s linear infinite;
}

#wholeClock #time div span:nth-child(2){
    border-end-start-radius: 30%;
    width:20vh;
    height:5vh;
}

@keyframes animate {
    0%{
        opacity:2.6;
    }
    25%{
        opacity:1.2;
    }
    50%{
        opacity:0.4;
    }
    75%{
        opacity:1.2;
    }
    100%{
        opacity:2.6;
    }
}

#days{
    font-family:'Pacifico', cursive;
    position:absolute;
    bottom:11vh;
    left:30%;
    top:75%;
    color:white;
    font-size: 4vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 45%;
    height:20vh;
    width:43%;
    border: 1.5px solid #4cd137;
}